.searchContainer {
  margin: 20px auto;
  width: 500px;
  position: relative;
  text-align: center;
}
.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
  color: #393e46;
  background-color: #ffd596;
}

.itemButton {
  background-color: #ffd596;
  border: none;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}
